1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
def counter (number):
    if number%15==0: return c
    elif number%5==0: return b
    elif number%3==0: return a
    else: return number
    
a="Mickey"
b="Mouse"
c="MickeyMouse"
for i in range (1,101): print(counter(i))
a="Donald"
b="Duck"
c="DonaldDuck"
a_tuple=()
for i in range (1,101): 
    a_tuple=a_tuple+(counter(i),)
print(a_tuple)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
def swapper(x,y):
    return y,x

a=input("set the value of a ")
b=input("set the value of b ")
a,b = swapper(a,b)
print ("a and b were", b,"and",a)
print ("now a and b are", a,"and",b)

set the value of a 2
set the value of b 1
a and b were 2 and 1
now a and b are 1 and 2

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
import numpy as np
def distance(x,y):
    d = np.sqrt((x[0]-y[0])**2+(x[1]-y[1])**2)
    return d


a=input("set the value of a ")
b=input("set the value of b ")

#The inputs were gotten as strings, with the following blocks we transform them in lists.
a = a.replace("(","")
a = a.replace(")","")
a = a.split(",")
a = [float(x) for x in a]

b = b.replace("(","")
b = b.replace(")","")
b = b.split(",")
b = [float(x) for x in b]

print(a,b)
d=distance(a,b)
print ("d(a,b)= %.2f" % d)

set the value of a (2,1)
set the value of b (3,4)
[2.0, 1.0] [3.0, 4.0]
d(a,b)= 3.16

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [4]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
count_list=[]
counted_list=[]
s=s.lower()
for i in s:
    if not counted_list.count(i) >= 1:
        count_list.append([i,s.count(i)])
        counted_list.append(i)
print (count_list)

[['w', 2], ['r', 17], ['i', 14], ['t', 19], ['e', 22], [' ', 41], ['a', 7], ['p', 8], ['o', 13], ['g', 1], ['m', 12], ['h', 9], ['n', 10], ['s', 9], ['u', 9], ['b', 5], ['f', 10], ['1', 2], ['0', 2], ['.', 2], ['l', 6], ['c', 3], ['k', 2], ['y', 2], ['d', 3], ['v', 2]]

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unifinder(set):
    uni_list=[]
    repeated_list=[]
    for i in range (0,len(set)):
        k=0
        for j in range (0,len(set)):
            if set[i]==set[j]:
                k=k+1
        if k==1:
            uni_list.append(set[i])
        else:
            repeated_list.append(set[i])
    return uni_list, repeated_list

unique,repeated=unifinder(l)

print("There are",len(repeated),"repeated numbers, and",len(unique),"unique numbers, which are", unique)

There are 43 repeated numbers, and 37 unique numbers, which are [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [6]:
def square(x):
    return x**2

def cube(x):
    return x**3

def sixthpow(x):
    return cube(square(x))
a = 3
#al posto della riga precedente vorrei: a=input("set the value of a ")
b = square(a)
c = cube(a)
d = sixthpow(a)
print (b,c,d)

9 27 729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [7]:
cubes_list1=[]
for i in range(0,11):
    cubes_list1.append(i**3)
    
cubes_list2=[i**3 for i in range(0,11)]

print (cubes_list1,cubes_list2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000] [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [8]:
triple_tuple=()
i=1
for a in range (1,100):
    for b in range (1,a+1):
        for c in range (1,b+1):
            if a**2==b**2+c**2:
                i=i+1
                triple_tuple=triple_tuple+((c,b,a),)
                break
print("Number of triples:")
print(len(triple_tuple))
print("The triples are:")
print(triple_tuple)

Number of triples:
50
The triples are:
((3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (45, 60, 75), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [9]:
def normalizer(vector):
    unitvector=()
    scalarp=0
    for i in range (0,len(vector)):
        scalarp=scalarp+vector[i]**2
    for i in range (0,len(vector)):
        unitvector=unitvector+(vector[i]/scalarp**0.5,)
    return unitvector

randomvector=(5,2,3,4)

print ("the normalized vector is:",normalizer(randomvector))

print ("the normalized rounded vector is: (%0.3f, %0.3f, %0.3f, %0.3f)"% normalizer((5,2,3,4)))

the normalized vector is: (0.6804138174397717, 0.2721655269759087, 0.408248290463863, 0.5443310539518174)
the normalized rounded vector is: (0.680, 0.272, 0.408, 0.544)